
        *{
            margin: 0;
            padding: 0;
        }
        header{
            width: 100%;
            height: 100vh;
            background-color: greenyellow;
        }
        nav p{
            padding: 10px;
            font-size: 32px;
        }
        #headerimg{
            width: 100%;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #headerimg img{
            width: 50%;
            height: fit-content;
        }
        .category:nth-child(even){
            background-color: greenyellow;
        }
        .category:nth-child(odd){
            background-color: rgb(255, 172, 47);
        }
        .category h1{
            text-align: center;
            text-shadow: 10px 10px 10px black;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            padding: 5px;
        }
        .food{
            
        }
        .food img{
            width: 300px;
            height: 300px;
        }
        .snack img{
            width: 300px;
            height: 300px;
        }
        .iced-coffee img{
            width: 300px;
            height: 300px;
        }
        footer{
            background-color: #333;
            color: white;
            padding: 7px;
        }
        footer h3{
            text-align: center;
        }
        footer h3 a{
            text-decoration: none;
            color: white;
            text-decoration: underline;
        }
